# Pandas Profiling

In [1]:
# import libraries
import pandas as pd
import seaborn as sns

In [2]:
# import titanic dataset from seaborn
df = sns.load_dataset('titanic')

In [3]:
# display first five rows of the dataframe
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# !pip install pandas-profiling
# !pip install ydata-profiling
import ydata_profiling as yd

c:\Users\FAHAD\miniconda3\envs\ydata_profiling\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
# Import ydata_profiling and create a profile report for the DataFrame df
from ydata_profiling import ProfileReport
# Generate the profiling report
prof =ProfileReport(df)
# Save the report as an HTML file
prof.to_file(output_file='titanic.html')

100%|██████████| 15/15 [00:00<00:00, 30.70it/s]1<00:00,  9.55it/s, Describe variable: alone]
Summarize dataset: 100%|██████████| 41/41 [00:10<00:00,  3.86it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.71s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.92s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 39.99it/s]

In [6]:
# Load the 'flights' dataset from seaborn
flights= sns.load_dataset('flights')

In [7]:
# Import ydata_profiling and create a profile report for the flights dataset

from ydata_profiling import ProfileReport
# Generate the profiling report
prof = ProfileReport(flights)
# Save the report as an HTML file
prof.to_file(output_file='flights.html')

100%|██████████| 3/3 [00:00<00:00, 152.17it/s]<00:00, 26.82it/s, Describe variable: passengers]
Summarize dataset: 100%|██████████| 16/16 [00:01<00:00,  8.70it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.46s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.03it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 80.86it/s]